<div class="loading" *ngIf="loading">
    <img src="../../../assets/loading.gif">
</div>
<ng-container *ngIf="!loading">
    <div class="card">
        <app-card *ngFor="let creator of creatorsList" [title]="creator.fullName">
            <div class="img">
                <img class="img-creator" src="{{creator.thumbnail.path}}" alt="">
            </div>
            <div class="links">
                <app-button *ngFor="let url of creator.urls" [label]="url.type" [url]="url.url">
                </app-button>
            </div>
        </app-card>
    </div>
</ng-container>